/* all pages */

footer {
  margin: 20px;
  font-size: 12px;
} 

body {
  background-image: linear-gradient(to bottom left, rgb(212, 162, 69), rgb(6, 116, 101));
}

.navbar {
  background-image: linear-gradient(to left, rgb(212, 162, 69), rgb(114,138,89));
}

.basket-button {
  color: rgb(39, 111, 245);
  border-color: rgb(39, 111, 245) ;
}

.basket-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(39, 111, 245);
  border-color: rgb(39, 111, 245) ;
}

.toast {
    position: fixed; 
    top: 50px; 
    right: 0; 
    z-index:1;
}

.shop-button {
  font-size: 15px;
  margin-top: -4px;
}

.article-container {
  margin: auto;
}

.card {
  background-image: linear-gradient(to bottom left, rgba(0, 121, 121, 1), rgba(31, 110, 110, 0.4));
  width:250px; 
  height:920px; 
  margin-bottom: 20px;
  border-radius: 10px;
}

.card-header {
  height: 5em;
}

.card-text {
  min-height:10em
}

/* index page */
.product{
  width: 100%; 
  height: inherit; 
  margin-bottom: 20px;
  margin-top: 20px;
}

.product img {
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.product > .card-header {
  height:3em
}

.product-properties > li > .property-name {
  display: inline-block;
  width: 50px;
}
.product_amount {
  width: 80px
}

/* basket page */
.product-properties {
  margin-top:20px;
  list-style: none; 
  padding-left: 5px; 
  font-size: 15px"
}

.product_row  .product-properties  li {
  width: 25%;
  float: left;
}

.form-control {
  background-color: rgba(128, 235, 235, 0.5);
}
